version: '3.8'

services:
  kinvo_db:
    image: bitnami/postgresql:latest
    ports:
      - '5432:5432'
    environment:
      - POSTGRESQL_USERNAME=postgres
      - POSTGRESQL_PASSWORD=password
      - POSTGRESQL_DATABASE=kinvo_db
    volumes:
      - kinvo_db_data:/bitnami/postgresql

  kinvo_redis:
    image: bitnami/redis:latest
    ports:
      - '6379:6379'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - kinvo_redis_data:/bitnami/redis/data

  kinvo_challenge:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3333:3333'
    environment:
      - DATABASE_URL=postgresql://postgres:password@kinvo_db:5432/kinvo_db
      - REDIS_URL=redis://kinvo_redis:6379
      - JWT_SECRET=your_jwt_secret_key
      - JWT_EXPIRES_IN=1d
      - CACHE_TTL=3600
      - PORT=3333
      - NODE_ENV=production
    depends_on:
      - kinvo_db
      - kinvo_redis
    restart: unless-stopped

volumes:
  kinvo_db_data:
    name: kinvo_db_data # Nome fixo
  kinvo_redis_data:
    name: kinvo_redis_data # Nome fixo
